.div_procesamiento {
  display: grid;
  grid-template-columns: 25% 75%;
  align-items: start;
  justify-items: center;
  padding-top: 3%;
  column-gap: 20px;
}

.titulo_lista {
  font-size: 1.1rem;
  color: #043399;
  font-weight: bold;
  padding-bottom: 20px;
}

/* Tabs */
.tabs {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}

.tab {
  padding: 10px 20px;
  background-color:white  ;
  border-radius: 5px;
  transition: background-color 0.3s ease;

  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2); /* Sombra sutil */
  border: 1px solid #f9f9f9;


}


.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  /* max-width: 1500px; */
  margin: auto;
  gap: 15px;
  
}

.item {
  flex: 0 0 calc(33.33% - 10px);
  min-height: 220px;
  /* height: 100% ; */

  height: auto;
}



.tab:hover {
  background-color: #ddd;
}

.tab.active {
  background-color: #181ca0;
  color: white;
  font-weight: bold;
  border-left: 5px solid #ffc107;
}

/* Contenido dinámico */
.tabs_dinamicos .tab_content {
  display: none;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s ease;
}

.tabs_dinamicos .tab_content.active {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

/* Contenedor de item_2 */
.item_2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

/* Buscador */
.grid_search {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.busqueda {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  padding: 6px 10px;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.busqueda i {
  color: #555;
  font-size: 1rem;
}

.busqueda input {
  border: none;
  background: transparent;
  outline: none;
  font-size: 1rem;
  width: 150px;
}

.grid_products {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* grid-auto-rows: 1fr; */
  gap: 30px;
  padding: 2rem;
  justify-items: center;
  background-color: #f9f9f9;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2); /* Sombra sutil */
  border-radius: 12px; /* Opcional, para bordes suaves */
  border: 1px solid #f9f9f9;
}


.item_producto {
  display: flex;
  flex: 1 1 calc(33.33% - 20px);
  flex-direction: column;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 300px;
  width: 100%;
  height: 480px;
}

.item_producto:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.item_producto .imagen img {
  max-width: 100%;
  height: 15rem;
  object-fit: cover;
  margin-bottom: 15px;
}

.item_producto h1 {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 10px;
  font-weight: 600;
}

.item_producto p {
  font-size: 0.95rem;
  color: #666;
  line-height: 1.4;
}
.item_producto a {
  display: inline-block;
  margin-top: 15px;
  padding: 6px;
  width: fit-content;
  margin: 0 auto;
  background-color: #181ca0; /* Color corporativo */
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  font-size: 0.95rem;
  font-weight: 500;
  margin-top: auto;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.item_producto a:hover {
  background-color: #0f1580;
  transform: scale(1.05);
  
}




/* Responsive */
@media (max-width: 768px) {
  .div_procesamiento {
    grid-template-columns: 1fr;
  }

  .grid_products{
    grid-template-columns: 1fr;
  }

  .titulo_lista {
    padding-top: 30px;
    text-align: center;
  }

  .item {
    flex: 0 0 calc(50% - 10px);
  }

  .grid_search {
    justify-content: center;
    margin-top: 20px;
  }

  .busqueda input {
    width: 100px;
  }
}

@media (max-width: 480px) {
  .item {
    flex: 0 0 100%;
  }
}



.wrapper {
      width: 300px;
      height: 290px;
      background: white;
      margin: auto;
      position: relative;
      overflow: hidden;
      border-radius: 10px 10px 10px 10px;
      box-shadow: 0;
      transform: scale(0.95);
      transition: box-shadow 0.5s, transform 0.5s;

      &:hover {
        transform: scale(1);
        box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
      }

      .container {
        width: 100%;
        height: 100%;

        .top {
          height: 250px;
          width: 100%;
          background: url(${eq.image}) no-repeat center center;
          -webkit-background-size: 100%;
          -moz-background-size: 100%;
          -o-background-size: 100%;
          background-size: 100%;
        }

        .title {
          font-size: 1.1rem;
          color: #333;
          margin-bottom: 10px;
          font-weight: 600;
          text-align: center;
        }

        .bottom {

          width: 200%;
          height: 20%;
          transition: transform 0.5s;

          &.clicked {
            transform: translateX(-50%);
          }

          h1 {
            margin: 0;
            padding: 0;
          }

          p {
            margin: 0;
            padding: 0;
          }




        }
      }

      .inside {
        z-index: 9;
        background: linear-gradient(135deg, #181ca0 0%, rgba(0, 0, 0, 0.6) 100%);
        opacity: 1;
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
        filter: blur(0px);
        width: 140px;
        height: 140px;
        position: absolute;
        top: -70px;
        right: -70px;
        ;
        border-radius: 0px 0px 200px 200px;
        transition: all 0.5s, border-radius 2s, top 1s;
        overflow: hidden;

        .icon {

          position: absolute;
          right: 85px;
          top: 85px;
          color: white;
          opacity: 1;
        }

        &:hover {

          width: 100%;
          right: 0;
          top: 0;
          border-radius: 0;
          height: 80%;

          .icon {
            opacity: 0;
            right: 15px;
            top: 15px;
          }

          .contents {
            opacity: 1;
            visibility: visible;
            transform: scale(1);
            transform: translateY(0);
          }
        }

        .contents {
          padding: 5%;
          opacity: 0;
          visibility: hidden;
          transform: scale(0.5);
          transform: translateY(-200%);
          transition: opacity 0.2s, transform 0.8s;

          div {

            text-align: center;
            color: white;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
          }
        }


      }
    }